- each item in items
  h1(style="display:inline") #{item.model} #{item.name}
  br
  | Price: #{item.price}
  | Details: #{item.info}
  input(type="button", value="Buy", onclick="addItem('#{item._id}', '#{item.name}' ,'#{item.model}' ,'#{item.info}' ,#{item.price});")
  br
